# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [24]:
# Run this code:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [25]:
# Your code here
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [26]:
from scipy.stats import ttest_1samp

# Drop NaNs if any, to avoid errors in calculations
hourly_wages = salaries['Hourly Rate'].dropna()

# Perform one-sample t-test
t_stat, p_value = ttest_1samp(hourly_wages, 30)

# Display the results
t_stat, p_value

(np.float64(20.6198057854942), np.float64(4.3230240486229894e-92))

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [27]:
# Drop NaNs if any, to avoid errors in calculations
hourly_wages = salaries['Hourly Rate'].dropna()

# Compute sample statistics
mean_hourly = hourly_wages.mean()
sem_hourly = sem(hourly_wages)  # standard error of the mean

# Compute 95% confidence interval
confidence_level = 0.95
df = len(hourly_wages) - 1
confidence_interval = t.interval(confidence_level, df, loc=mean_hourly, scale=sem_hourly)

In [28]:
# Your code here
confidence_interval

(np.float64(32.52345834488425), np.float64(33.05365708767623))

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the Aviation Department is significantly different from 25% at the 95% confidence level.

In [32]:
# Your code here
from statsmodels.stats.proportion import proportions_ztest
# Drop NaNs if any, to avoid errors in calculations
salaries_na = salaries.dropna(subset=['Hourly Rate'])

In [40]:
aviation_people = salaries_na[salaries_na["Department"] =="AVIATION"]

In [50]:
prop_aviation = len(aviation_people) / len(salaries_na)
prop_aviation

0.13487908252306158

In [55]:
# Filter hourly workers in the Fire Department
fire_department_hourly = salaries_na[(salaries_na["Department"] == "AVIATION")]

# Count the number of hourly workers in the Fire Department
count_fire_hourly = len(fire_department_hourly)

# Total number of hourly workers
total_hourly_workers = len(salaries_na)

# Perform the proportions z-test
stat, p_value = proportions_ztest(count=count_fire_hourly, nobs=total_hourly_workers, value=0.15)

# Display the results
stat, p_value

(np.float64(-3.9646856972910385), np.float64(7.349271652218675e-05))